CompileFlags:
  Add:
    - -Iinclude
    - -I../include
    - -I../../include
    - -I../../../include
    - -I../../../../include
    - -I/usr/local/cuda/include
    - -I/usr/local/cuda/targets/x86_64-linux/include
    - -I/usr/lib/llvm-18/include
    - -x
    - cuda
    - --cuda-gpu-arch=sm_89 #cuda 8.9
  Compiler: clang++
